.responsive {
    margin: auto;
    padding: 30px;
    position: relative;
}
img {
    width: 300px;
    height: 222px;
    padding: 30px;
} 
.slick-prev{
    background:none;
    width:50px;
    height:50px;
    position:absolute;
    left:0;
    top:50%;
    -ms-transform: translateY(-50%); 
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
    }
.slick-next{
    background: none;
    width:50px;
    height:50px;
    position:absolute;
    right:0;
    top:50%;
    -ms-transform: translateY(-50%); 
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
    }
    .slick-prev:before , .slick-next:before {
        color:black;
    }

@media screen and (max-width:600px) {
    .responsive {
        padding: 20px;
    }
    img {
        width: 150px;
        height: 95px;
        padding: 15px;
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next {
        right: -20px;
    }
}

