#mobile_first {
    display: flex;
    flex-direction: column;
}
#mobile_first body {
    display: flex;
    width: 100%;
}
#mobile_first div.header1 {
    display: flex;
    order: 1;
    border: 3px solid rgb(136, 2, 132);
    background-color: rgb(246, 146, 223);
    height: 120px;
}
#mobile_first #logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    float: left;
}
#mobile_first header {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
}
#mobile_first h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#mobile_first #navigation a {
    color: rgb(136, 2, 132);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#mobile_first #navigation {
    display: flex;
    order: 2;
    padding: 20px;
}
#mobile_first nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#mobile_first div.listOfLinks {
    display: flex;
    order: 3;
    background-color: rgb(251, 222, 242);
    padding: 20px;
}
#mobile_first div.listOfLinks a {
    color: rgb(95, 14, 77);
    font-size: 15px;
}
#mobile_first div.listOfLinks a: visited {
    color: rgb(51, 1, 54);
    text-decoration: none;
}
#mobile_first div.forma {
    display: flex;
    order: 3;
    background-color: rgb(251, 222, 242);
    padding: 20px;
    margin-top: 20px;
}
#mobile_first #table1 {
    display: flex;
    order: 4;
    padding: 20px;
}
#mobile_first table {
    border: 3px solid rgb(72,72,72);
    border-collapse: collapse;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}
#mobile_first th {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
#mobile_first td {
    color: rgb(202, 10, 157);
}
#mobile_first tr {
    height: 50px;
    text-align: center;
}
#mobile_first td,tr,th {
    border: 1px solid rgb(91, 91, 91);
}
#mobile_first div.footer1 {
    display: flex;
    order: 5;
    background-color: rgb(246, 146, 223);
    margin-top: 20px;
}
#mobile_first tr:nth-child(odd) {
    background-color: rgb(251, 218, 239);
}
#mobile_first tr:nth-child(even) {
    background-color: rgb(254, 157, 218);
}
#mobile_first footer {
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
}
