body {
    width: 100%;
    margin: auto;
}

.back, .forward {
	background: none;
	color:rgb(87, 254, 238);
	cursor: pointer;
}

.content {
    padding: 10px;
    max-width: 960px;
    margin: auto;
}

.dot {
    fill:rgb(87, 254, 238);
}

.active-dot {
    fill:rgb(24, 52, 49);
    transform: scale(1.4);
}

.control {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    max-width: 960px;
    margin: auto;
}

.slides {
    display: flex;
    justify-content: space-around;
}

.slide {
    height: 300px;
    padding: 8px;
    display: none;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
